BASE_URL=https://playwright.dev
TEST_ENV=qa

# Future authentication
TEST_USERNAME=
TEST_PASSWORD=
MAIN_MENU_PAGES=[{"name":"Home","title":"Automation Exercise"},{"name":"Products","title":"Automation Exercise - All Products"},{"name":"Cart","title":"Automation Exercise - Checkout"},{"name":"Signup / Login","title":"Automation Exercise - Signup / Login"},{"name":"Test Cases","title":"Automation Practice Website for UI Testing - Test Cases"},{"name":"API Testing","title":"Automation Practice for API Testing"},{"name":"Contact us","title":"Automation Exercise - Contact Us"}]